doctype html
html
    head
        title= "Home"
        link(rel="stylesheet" href="./css/applicationGeneral.css")
    body
        div(id="root")
            h1 Welcome to Node.js + Express with Pug Templates!
        
        script(src='./scripts/nav.js')