doctype html
html
    head
        title= "Others"
        link(rel="stylesheet" href="./css/applicationGeneral.css")
    body
        h1 Others
        p Entry hour: #{hour}
        img(src="./images/yodaApproves.png", alt="Yoda Approves")
        